@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}
header > h1 {
    font-size: clamp(22px, 5vw, 32px);
}

body {

    text-align: center;
    justify-content: center;
    background-color: #F5DD5B;
    
}

main {
    margin: auto;
}

#img {
    max-width: 27%;
    min-width: 250px;
}

#descricao {
    font-size: clamp(12px, 5vw, 25px);
}

#botao {
    border-color: #ecd341;
    font-weight: bold;
    font-size: clamp(18px, 5vw, 28px);
    background-color: #FFA12B;
    padding: 0.5% 1%;
    border-radius: 8px;
    box-shadow: inset 1px 1px black;
    cursor: pointer;
}
